$hero-height: 100vh;
$azul: #070547;
$verde: #11E2CC;


h1, h5,p {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: 700;
}

h5 {
  font-weight: 100;
}

p {
  font-weight: 300;
}

.hero-section {

  @include breakpoint(small) {
    background: $azul;
    background-size: cover;
    height: $hero-height;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-section-text {
    color: $white;
  }
  
}

.hero-section h1 {
  @include breakpoint(small) {
  font-size: rem-calc(36);}
  @include breakpoint(medium) {
  font-size: rem-calc(74);}
}

.hero-section h5 {
  @include breakpoint(small) {
    font-size: rem-calc(16);}
    @include breakpoint(medium) {
    font-size: rem-calc(32);}
  color: $verde;
}

.hero-section .button {
  @include breakpoint(small) {
  margin-top: 10%;
  color: white;
  background: transparent;
  border: 4px solid white;
  border-radius:rem-calc(56);
  font-size: rem-calc(18);
  font-weight: 700;
}
@include breakpoint(medium) {
  font-size: rem-calc(22);
}

&:hover {
  color: $azul;
  background: white;
}

}

.about-section {
  padding: rem-calc(40) rem-calc(10);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-section-text {
    color: $azul;
  }
}