<div class="about-section">
    <div class="about-section-text">
      <h1>Olá,</h1>
      <p>O meu nome é Gonçalo Freitas e sou Web Designer e front-end developer desde 1998.</p>
      <p>Tenho uma vasta experiência em construção de sites e aplicações para áreas como a comunicação e a formação.</p>
      <p>Utilizo Wordpress, HTML5, CSS3 e uma série de outras tecnologias web para concretizar os meus projetos.</p>
      <p>Actualmente trabalho como freelancer, e já estive envolvido em projectos para marcas como Seat, BP, Fairy, Pantene, Allianz e Inditex.
    </p>      
    </div>
  </div>