<section class="grid-container">
  <div class="grid-x">
    <div class="cell small-12 medium-6">
      <h1>About</h1>
      <p>
          Olá,
          O meu nome é Gonçalo Freitas e sou Web Designer e front-end developer desde 1998.
          Tenho uma vasta experiência em construção de sites e aplicações para áreas como a comunicação e a formação.
          Utilizo Wordpress, HTML5, CSS3 e uma série de outras tecnologias web para concretizar os meus projetos.
          Actualmente trabalho como freelancer, e já estive envolvido em projectos para marcas como Seat, BP, Fairy, Pantene, Allianz e Inditex.
          
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <h1>Skills</h1>
      <h2>Development</h2>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>JAVASCRIPT</li>
        <li>GIT</li>
        <li>NPM/WEBPACK/GULP</li>
      </ul>
      <h2>Design</h2>
      <ul>
        <li>PHOTOSHOP</li>
        <li>ILLUSTRATOR</li>
        <li>ANIMATE</li>
        <li>AFFINITTY DESIGNER</li>
      </ul>
      <h2>CMS/E-COMMERCE</h2>
      <ul>
        <li>WORDPRESS</li>
        <li>WOOCOMMERCE</li>
      </ul>
    </div>
  </div>
</section>